<mat-form-field>
  <mat-label>{{ label }}</mat-label>
  <input
    *ngIf="onlyInteger; else normalInput"
    matInput
    [placeholder]="placeholder"
    [type]="'number'"
    appIntegerOnly
    [formControl]="control"
  />
  <ng-template #normalInput>
    <input
      matInput
      [placeholder]="placeholder"
      [type]="type"
      [formControl]="control"
    />
  </ng-template>

  <mat-error *ngIf="control?.errors?.['required']"
    >Pole jest wymagane</mat-error
  >
  <mat-error *ngIf="control?.errors?.['minlength']"
    >Minimalna ilość znaków
    {{control.errors?.['minlength']?.requiredLength}}</mat-error
  >
  <mat-error *ngIf="control?.errors?.['maxlength']"
    >Maksymalna ilość znaków
    {{control.errors?.['maxlength']?.requiredLength}}</mat-error
  >
  <mat-error *ngIf="control?.errors?.['min']"
    >Minimalna wartość {{control.errors?.['min']?.min}}</mat-error
  >
  <mat-error *ngIf="control?.errors?.['max']"
    >Maksymalna wartość {{control.errors?.['max']?.max}}</mat-error
  >
  <mat-error *ngIf="control?.errors?.['integerOnly']"
    >Tylko liczby całkowite</mat-error
  >
</mat-form-field>
