<form class="container grid gap-4">
  <div *ngIf="!generateInoviceFormStateService.formList.controls?.length">
    <b>Please add items</b>
  </div>

  <div
    class="col-span-4"
    *ngFor="
      let item of generateInoviceFormStateService.formList.controls;
      let i = index
    "
    [formGroup]="generateInoviceFormStateService.itemForm(i)"
  >
    <app-ipnut-field
      [label]="'Name'"
      [control]="generateInoviceFormStateService.name"
    >
    </app-ipnut-field>
    <app-ipnut-field
      [label]="'Count'"
      [onlyInteger]="true"
      [control]="generateInoviceFormStateService.count"
    >
    </app-ipnut-field>
    <app-ipnut-field
      [label]="'Price'"
      [onlyInteger]="true"
      [control]="generateInoviceFormStateService.price"
    >
    </app-ipnut-field>

    <button
      color="primary"
      type="button"
      mat-stroked-button
      (click)="generateInoviceFormStateService.deleteItem(i)"
    >
      Usuń
    </button>
  </div>
</form>

<button
  color="primary"
  type="button"
  mat-button
  (click)="generateInoviceFormStateService.addItem()"
>
  Dodaj kolejną pozycję
</button>

<button
  color="primary"
  type="button"
  mat-flat-button
  (click)="generateInoviceFormStateService.submit()"
>
  Submit
</button>
