<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Count</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngIf="invoiceService.$invoiceList.value?.length; else noItems"
    >
      <tr *ngFor="let column of invoiceService.$invoiceList.value">
        <td>{{ column.name }}</td>
        <td>{{ column.count }}</td>
        <td>{{ column.price }}</td>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">
          Total: {{ invoiceService.$invoiceList.value | totalPrice }}
        </td>
      </tr>
    </ng-container>

    <ng-template #noItems>
      <tr>
        <td colspan="3" class="center">No items.</td>
      </tr>
    </ng-template>
  </tbody>
</table>
